Repository Anadea/pre-commit-config-shellcheck: changes, and which pre-commit hooks are due for each by the changed paths.
All: removestar, isort, black, yesqa, flake8, bandit, dodgy, darglint, mypy, dotenv-linter, rstcheck

removestar:
  name: removestar
  stages:
  - commit
  language: system
  entry: removestar -i ${NAME}

isort:
  name: isort
  stages:
  - commit
  language: system
  entry: isort

black:
  name: black
  stages:
  - commit
  language: system
  entry: bash -c 'black .'

yesqa:
  name: yesqa
  stages:
  - commit
  language: system
  pass_filenames: false
  entry: yesqa

flake8:
  name: flake8
  stages:
  - commit
  language: system
  entry: flake8

bandit:
  name: bandit
  stages:
  - commit
  language: system
  entry: bandit -r . --ini=setup.cfg
  pass_filenames: false

dodgy:
  name: dodgy
  stages:
  - commit
  language: system
  entry: dodgy -i node_modules
  pass_filenames: false

darglint:
  name: darglint
  stages:
  - commit
  language: system
  entry: darglint

mypy:
  name: mypy
  stages:
  - commit
  language: system
  entry: mypy
  pass_filenames: false

dotenv-linter:
  name: dotenv-linter
  entry: dotenv-linter
  language: system
  stages:
  - commit

rstcheck:
  name: rstcheck
  entry: rstcheck
  language: system
  stages:
  - commit

Added new checkers dependencies
  setup.cfg
Due: none

Minor changes
  CONTRIBUTORS
  pre_commit_config_shellcheck.py
  tests/test_pre_commit_config_shellcheck.py
Due: removestar, isort, black, yesqa, flake8, bandit, dodgy, darglint, mypy

Some fixes/updates
  .editorconfig
  .env.example
  .gitignore
  .pre-commit-config.yaml
  Makefile
  README.rst
  TODO
  pre_commit_config_shellcheck.py
  setup.cfg
  setup.py
Due: removestar, isort, black, yesqa, flake8, bandit, dodgy, darglint, mypy, dotenv-linter, rstcheck

Looks like partially ready for first public appearence
  .pre-commit-config.yaml
  MANIFEST.in
  Makefile
  setup.cfg
Due: none

Added github configs
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/SECURITY.md
  .github/config.yml
  .github/dependabot.yml
  .github/workflows/build.yml
  .github/workflows/check-requirements.yml
  .github/workflows/check.yml
  .github/workflows/coveralls.yml
  .github/workflows/test.yml
  setup.cfg
Due: none

Fixed checks
  .pre-commit-config.yaml
  setup.cfg
Due: none

Updated github actions versions
  .github/workflows/check-requirements.yml
  .github/workflows/check.yml
  .github/workflows/coveralls.yml
  .github/workflows/test.yml
Due: none

Added badges to README, some README updates
  README.rst
Due: rstcheck

Added ShellCheck as requirement and fixed tests for a new version
  setup.cfg
  tests/test_pre_commit_config_shellcheck.py
Due: removestar, isort, black, yesqa, flake8, bandit, dodgy, darglint, mypy

Fixed README
  README.rst
Due: rstcheck

And some more checks
  Makefile
  setup.cfg
Due: none

Added correct whitelist.txt
  setup.cfg
  whitelist.txt
Due: none

Fixed whitelist.txt
  whitelist.txt
Due: none

Removed spellcheck due incompatibility with all supported python versions
  setup.cfg
  whitelist.txt
Due: none

Updated CONTRIBUTORS file
  CONTRIBUTORS
Due: none

Some updates
  Makefile
  README.rst
Due: rstcheck

Version up
  TODO
  setup.cfg
Due: none

Version up
  setup.cfg
Due: none

Fixes again
  Makefile
  README.rst
Due: rstcheck

Initial pre-commit-hook
  .pre-commit-hooks.yml
  README.rst
  TODO
Due: rstcheck

Fixed config name
  .pre-commit-hooks.yaml
Due: none

Some fixes/updates, code is totally broken by the main puprose
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  MANIFEST.in
  README.rst
  setup.cfg
Due: rstcheck

Added exit code returning after tool output
  pre_commit_config_shellcheck.py
  tests/test_pre_commit_config_shellcheck.py
Due: removestar, isort, black, yesqa, flake8, bandit, dodgy, darglint, mypy

Added -v command line argumnet
  pre_commit_config_shellcheck.py
Due: removestar, isort, black, yesqa, flake8, bandit, dodgy, darglint, mypy

Updated README, updated description, updated setup.cfg
  README.rst
  pre_commit_config_shellcheck.py
  setup.cfg
Due: removestar, isort, black, yesqa, flake8, bandit, dodgy, darglint, mypy, rstcheck

Added self check, version up
  .pre-commit-config.yaml
  README.rst
  setup.cfg
Due: rstcheck

Version fix
  pre_commit_config_shellcheck.py
Due: removestar, isort, black, yesqa, flake8, bandit, dodgy, darglint, mypy

Initial work as github entrypoint, but broken
  .dockerignore
  Dockerfile
  Makefile
  TODO
  action.yaml
  entrypoint.sh
Due: none

Nothing useful
  .github/SECURITY.md
  Dockerfile
  action.yaml
  entrypoint.sh
  setup.cfg
Due: none

First revision of composite github action
  .dockerignore
  Dockerfile
  action.yaml
  entrypoint.sh
  setup.cfg
Due: none

Version up
  .pre-commit-config.yaml
  README.rst
  action.yaml
  pre_commit_config_shellcheck.py
  setup.cfg
Due: removestar, isort, black, yesqa, flake8, bandit, dodgy, darglint, mypy, rstcheck

Updated README and TODO
  README.rst
  TODO
Due: rstcheck

Nothing useful
  .github/SECURITY.md
  action.yaml
Due: none

Mb comleted GH action, version up
  .pre-commit-config.yaml
  README.rst
  action.yaml
  pre_commit_config_shellcheck.py
  setup.cfg
Due: removestar, isort, black, yesqa, flake8, bandit, dodgy, darglint, mypy, rstcheck

Small Makefile fix
  Makefile
Due: none

First version of article
  Article.rst
Due: rstcheck

Second version of article
  Article.html
  Article.pdf
  Article.rst
Due: rstcheck

Path conditions:
  removestar: any of: \.py$
  isort: any of: \.py$
  black: any of: \.py$
  yesqa: any of: \.py$
  flake8: any of: \.py$
  bandit: any of: \.py$
  dodgy: any of: \.py$
  darglint: any of: \.py$
  mypy: any of: \.py$
  dotenv-linter: any of: \.env*, but not: .envrc|.env.j2
  rstcheck: any of: \.rst$
